<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="F:/IntelliJ_IDEA_WorkSpace_2023/OrangeHrm/src/test/java/com/TestNG_Demo"><classes><class name="com.TestNG_Demo.AnnotationsAttribute"><methods><include name="TestCase1"/><include name="TestCase2"/></methods></class><class name="com.TestNG_Demo.Automobile_Loan"><methods><include name="mobileLoginAutomobileLoan"/><include name="webLoginAutomobileLoan"/><include name="appLoginAutomobileLoan"/></methods></class><class name="com.TestNG_Demo.GroupAttribute"><methods><include name="infosys"/><include name="wipro"/><include name="TATA"/><include name="tesla"/></methods></class><class name="com.TestNG_Demo.Personal_Loan"><methods><include name="mobileLoginPersonalLoan"/><include name="webLoginPersonalLoan"/><include name="appLoginPersonalLoan"/></methods></class></classes></test></suite>